<div class="resetsection">    
    <div>
        <h3 class="title">Reset Form</h3>
      <form action="/action_page.php">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" placeholder="password">
    
        <label for="password">confirm Password</label>
        <input type="password" id="password" name="password" placeholder="confirm password">
    
      
        <input type="submit" value="Submit">
      </form>
    </div>
    </div>
    